{
  "semi": true,
  "singleQuote": true,
  "trailingComma": "all",
  "printWidth": 120,
  "tabWidth": 2,
  "arrowParens": "always",
  "endOfLine": "lf",
  "overrides": [
    {
      "files": ["*.md", "*.yml", "*.yaml"],
      "options": {
        "printWidth": 100,
        "singleQuote": false
      }
    }
  ]
}
